/* -------- global ---------- */
html {
    box-sizing: border-box;
}

*,
*::after,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Spartan',
        sans-serif;
}

h1,
.star_section {
    color: hsl(300, 43%, 22%);
    font-weight: 600;
}

.star_section>div {
    background-color: hsl(300, 24%, 96%);
    border-radius: 9px;
}

p {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}

.comments {
    border-radius: 9px;
    background-color: hsl(300, 43%, 22%);
}

.comment_header {
    display: flex;
}

.comments>p {
    color: hsl(0, 0%, 100%);
}

.comment_image {
    width: 42px;
    border-radius: 40px;
}

.comments_section {
    color: hsl(0, 0%, 100%);
}



.commnet_second_name {
    color: hsl(333, 80%, 67%);
}


/* --------- desktop version ------------- */

@media(min-width: 1440px) {
    body {
        /* background-image: url("/images/bg-pattern-top-desktop.svg"),
            url("/images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat no-repeat;
        background-position: left top,
            bottom right; */
        max-width: 1440px;
        margin: 0 auto;
    }

    main {
        height: 800px;
        background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat no-repeat;
        background-position: left top,
            bottom right;
        padding-top: 124px;
        padding-bottom: 100px;
        padding-left: 165px;
        padding-right: 165px;
        /* border: black solid 2px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header {
        width: 500px;
        height: 250px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 49px;
        line-height: 100%;

    }

    header>p {
        /* margin-top: -3px; */
        width: 430px;
        line-height: 166%;
        letter-spacing: -0.03em;
    }

    .star_section {
        /* border: solid black 1px; */
        margin-top: 20px;
        height: 200px;
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-end;

    }

    .star_box {
        width: 444px;
        height: 55px;
        display: flex;
        align-self: center;
    }

    .star_box:first-child {
        align-self: flex-start;
    }

    .star_box:last-child {
        align-self: flex-end;
    }


    .start_icons,
    .start_text {
        align-self: center;
        padding-left: 31px;
    }

    .comments_section {
        margin-top: 30px;
        height: 266px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* border: 1px solid black; */

    }

    .comments {
        height: 234px;
        width: 350px;
        padding: 42px 32px 45px 30px;
        align-self: center;

    }

    .comments:first-child {
        align-self: flex-start;
    }

    .comments:last-child {
        align-self: flex-end;
    }

    .comment_header {
        margin-bottom: 29px;
        /* text-align: left; */
    }

    .comment_image {
        margin-right: 19px;
    }

    .comments>p {
        font-weight: 400;
        margin: 0;
        font-size: 14px;
        line-height: 159%;
        letter-spacing: -0.06em;

    }
}

/* ------------- moblie version ----------------- */

@media (max-width: 576px) {
    body {
        background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
        background-repeat: no-repeat no-repeat;
        background-position: left top, bottom right;
        margin-left: 24px;
        margin-right: 24px;
    }

    main {
        text-align: center;
        max-width: 375px;
        /* margin-left: 24px; */
        /* margin-right: 24px; */
        margin: 0 auto;
    }

    header {
        margin-top: 80px;
        margin-bottom: 47px;
    }

    p {
        line-height: 166%;
        letter-spacing: -0.03em;
    }

    .star_section {
        margin-bottom: 49px;
    }

    .star_section>div {
        height: 78px;
        margin-bottom: 16px;
        padding-top: 12px;
    }

    .start_icons {
        margin-bottom: 14px;
    }

    .comments {
        padding: 30px 30px 36px 32px;
        min-height: 248px;
        margin-bottom: 16px;

    }

    .comment_header {
        margin-bottom: 36px;
        text-align: left;
    }

    .comment_image {
        margin-right: 18px;
    }

    .comment_name {
        font-weight: 700;
        margin-bottom: 6px;
    }

    .comments>p {
        text-align: left;
        font-size: 14px;
        line-height: 159%;
        letter-spacing: -0.05em;
        font-weight: 400;
    }
}